
body{
    background-color: #1a1b18;
    color: #d1d1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 20px;

}


main{
    max-width: 1000px;
    margin: 0 auto;
}