
body{
    background-color: #1a1b18;
    color: #d1d1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 20px;
}


main{
    max-width: 1000px;
    margin: 0 auto;
}

.nav-link {
    color: aqua;
    font-size: 16px;
    text-decoration: none;
}

#active-link {
    color: red;
    background-color: gray;
    border-radius: 5px;
}

#menu {
    background-color: crimson;
    border-radius: 5px;
    list-style: none;
    padding: 20px;
}

#menu li {
    display: inline-block;
    margin: 0 20px;
}